.list-two{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.item{
    width: 216px;
    height: 168px;
    border: solid 1px #eaeaea;
    justify-content: center;
}
.item:hover{
border: solid 1px #cbcbcb;
}