.list-three{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

@media only screen and (max-width: 1330px){
    .footer{
        flex-direction: column;
        gap: 50px;
    }
}
@media only screen and (max-width: 960px){
    .list-three{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 757px){
    .list-three{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 647px){
    .footer-two{
        flex-direction: column;
        gap: 50px;
    }
    .list-three{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (max-width: 579px){
    .list-three{
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
    a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 335px){
    .list-three{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    a{
        font-size: 11px;
    }
    .bottom-text{
        font-size: 9px;
    }
    .list-four{
        gap: 20px;
    }
}
@media only screen and (max-width: 326px){
    .list-three{
        gap: 5px;
    }
    .list-four{
        gap: 5px;
    }
    a{
        font-size: 10px;
    }
    .text{
        width: 70px;
    }
}
@media only screen and (max-width: 320px){
    .list-three{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .list-four{
        gap: 5px;
    }
    a{
        font-size: 10px;
    }
    .text{
        width: 60px;
    }
}